$primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$main-font-color: #212529;
$primary-purple: #632ca6;
$secondary-purple: #7000f0;
$primary-blue: #002eb8;

.resources-container {
  font-family: $primary-font;
  color: $main-font-color;
  background: linear-gradient(230deg, $primary-purple 0%, $primary-blue 100%);
  
    h2 {
      font-weight: 600;
      padding: 2rem 0 0 0;
      color: #ffffff;
    }

    .resources-container-description {
      font-weight: 600;
      font-size: 1.2rem;
      margin: 1rem auto 2rem;
      color: #ffffff;
    }

    label.form-label {
      color: #ffffff;
    }
  
    select.form-select {
      border-radius: 4px;
      padding: 0.5rem;
      font-size: 1rem;
      border: none;
    }

    .fr-cards-container {
      padding-top: 2.6rem;
      padding-bottom: 3rem;
    }
  
    .fr-card {
      background-color: #ffffff;
      box-shadow: 1px 2px 3px rgba(18, 18, 18, 0.36);
      transition-duration: 0.3s;
  
      &:hover {
        box-shadow: 3px 4px 9px rgba(18, 18, 18, 0.2);
        transform: scale(1.02);
      }

      &:focus {
        box-shadow: 3px 4px 9px rgba(18, 18, 18, 0.2);
      }
  
      h3 {
        font-size: 1.26rem;
        font-weight: 600;
        color: $primary-purple;
      }
  
      .fr-category {
        margin-bottom: 2rem;
        border-radius: 4px;
        padding: 0.2rem 0.6rem;
        background-color: #efefef;
        text-align: center;
        margin-right: auto;
      }
  
      a.fr-button {
        background-color: $primary-purple;
        color: #ffffff;
        margin-top: auto;

        &:hover {
          background-color: $secondary-purple;
        }

        &:focus {
          background-color: $secondary-purple;
          outline: 2px solid $primary-purple;
          outline-offset: 2px;
        }
      }
    }

    .resource-noresults {
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 3rem auto;
    }
  }
  